/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    text-decoration: none;
}

/* Variables */
:root {
    --main-color: #6BA541;
    --second-color: #6F270F;
    --text-color: #000000;
    --bg-color: #FFFCF5;

/* Box Shadow */
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}

/* Log in Interface */

.admin-login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/images_menu/header_menu.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group label {
    color: #fff;
}

.btn-primary {
    background-color: #6BA541 !important;
    border: 1px #6BA541 solid;
}

.btn-primary:active,
.btn-primary:focus {
    background-color: #6F270F !important;
    border: 1px #6BA541 solid;
}

.btn-outline-primary a {
    color: #6BA541;
    border-color: #6BA541;
}

.btn-outline-primary a:hover,
.btn-outline-primary a:focus {
    background-color: #6F270F !important;
    color: #6BA541;
    border-color: #6BA541;
}

.wrapper {
    padding: 1%;
    width: 90%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.clearfix {
    float: none;
    clear: both;
}

/* CSS for the Menu */
.topbar {
    text-align: right;
    background-color: #6F270F;
    color: #FFFCF5;
}

.topbar ul {
    list-style-type: none;
}

.topbar ul li {
    display: inline;
    padding: 3%;
}

.topbar ul li a {
    color: #FFFCF5;
    text-decoration: none;
}

.topbar ul li a:hover {
    color: #000000;
    text-decoration: none;
}

/* CSS for the Content */
.main-content {
    background-color: #ebffeb;
    height: 100vh;
    padding: 2%;
}

.col-3 {
    width: 29.3%;
    background-color: #6BA541;
    margin: 2%;
    padding: 2%;
    text-align: center;
    float: left;
}

.form-group label {
    color: #000000;
}

.form-group-auth label {
    color: #FFFCF5;
}

/* CSS for the Footer */
.footer {
    background-color: #6F270F;
    color: #FFFCF5;
}
